.hero-image {
  background-color: #43454d;
  opacity: .7;
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  background-color: #43454d;
}

.main-menu-mobile {
  background-color: #43454d;
}

.main-menu>ul>li>a:hover {
  background: #43454d;
}

h1 {
  font-weight: 600;
}